<%= simple_form_for(@post, url: simple_form_posts_path) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :title %>
    <%= f.input :content, as: :bootsy, input_html: {rows: 16, class: 'col-md-12'} %>
  </div>

  <div class="btn-group form-actions">
    <%= f.button :submit, class: 'btn btn-default' %>
  </div>
<% end %>
